/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(190, 190, 190);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container principal */
.container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Centralizando o conteúdo */
.center h2{
    text-align: center;
}

/* Título */
.titulo {
    color: orange; /* Laranja */
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para os inputs */
.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-label {
    color: #333; /* Cor do texto das labels */
    margin-bottom: 5px; /* Espaçamento inferior das labels */
    display: block; /* Faz as labels ocuparem toda a largura */
}

input{
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 15px; /* Espaçamento inferior */
    border: 1px solid orange; /* Borda laranja */
    border-radius: 4px; /* Bordas arredondadas */
}

input:focus{
    border-color: orange; /* Laranja */
    outline: none;
}

/* Estilos dos botões */
.buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
}

.btnCadastrar {
    background-color: orange; /* Laranja */
    color: #333;
}

.btnLimpar {
    background-color: rgb(190, 190, 190); /* Cinza claro */
    color: #333;
}

.btnConsultar{
    background-color: rgb(82, 169, 172);
    color: #333;
}

button:hover {
    opacity: 0.9;
}
