body {
    background-color: #f0f0f0; /* Cor de fundo cinza claro */
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
}

.container {
    display: flex; /* Usar flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da tela */
}

.center {
    background-color: #ffffff; /* Fundo branco para o formulário */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra nos cantos */
    padding: 15px; /* Espaçamento interno */
    width: 90%; /* Largura responsiva */
    max-width: 500px; /* Largura máxima */
}

h2 {
    text-align: center; /* Centraliza o título */
    color: orange; /* Cor laranja */
}

.form-label {
    color: #333; /* Cor do texto das labels */
    margin-bottom: 5px; /* Espaçamento inferior das labels */
    display: block; /* Faz as labels ocuparem toda a largura */
}

input, select{
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 15px; /* Espaçamento inferior */
    border: 1px solid orange; /* Borda laranja */
    border-radius: 4px; /* Bordas arredondadas */
}

input:focus, select:focus{
    border-color: orange; /* Laranja */
    outline: none;
}

button{
    width: 100%; /* Largura total */
    border-radius: 4px; /* Bordas arredondadas */
    background-color: orange;
    border: none;
    height: 30px;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;
}